
.body {
  background-color: #bed2e2;
  font-family: 'Droid Sans', sans-serif;
}

.section2{
  max-width: 100px;
  min-height: 1000px;
  min-width: 250px;
  text-align: center;
  background-color: #1a2852;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Droid Sans, sans-serif;
  font-weight: 700;
  display: flex;
  position: fixed;
  top: 101px;
}

.container {
  position: relative;
  top: 49px;
  }
.section1 {
  background-color: #1a2852;
  justify-content: flex-start;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.head1{
  color: #c4d1db;
  font-family: Droid Sans, sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  bottom: -24px;
  left: 26px;
}
.link {
color: #c4d1db;
font-family: Montserrat, sans-serif;
font-size: 25px;
font-weight: 700;
text-decoration: none;
position: relative;
top: 50px;
left: 494px;
right: 0;
}

.ul li{
 list-style: none;
}
.ul li a{
 font-family: 'Droid Sans', sans-serif;
 font-weight: 500px;
 padding: 5px 0;
 display: block;
 text-decoration: none;
 transition: 0.2s ease-out;
 color: #c4d1db;
}
.ul li:hover a{
 color: #1a2852;
 background-color: #c4d1db;
}
.ul li i{
 width: 40px;
 text-align: justify;
}

.section3 {
  position: relative;
  top: 30px;
  left: 50px;
}
.container2 {
  max-height: 1000px;
  max-width: 1000px;
  min-height: 800px;
  position: fixed;
  top: 100px;
  left: 224px;
}
.text-block-7 {
  max-height: 500px;
  max-width: 1000px;
  min-height: 0;
  font-family: Exo, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.block {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  font-family: Droid Sans, sans-serif;
  font-weight: 700;
  display: inline-block;
  position: relative;
  top: 100px;
  left: 270px;
}

.head3 {
  text-shadow: 1px 0 1px rgba(0, 0, 0, .2);
  font-family: Droid Sans, sans-serif;
  text-decoration: none;
  position: relative;
  top: 95px;
  left: 265px;
}
.list {
  font-family: Droid Sans, sans-serif;
    font-weight: 400;
    position: relative;
    top: 88px;
    left: 243px;
    list-style: none;
  }
  .list-item {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.link_list {
  font-family: Montserrat, sans-serif;
  color: blue;
  text-decoration: none;
}